[Desktop Entry]
Version=0.01
Type=Application
Name=VIVA
GenericName=Volume Rendering
Exec=vivaView
Icon=viva.png
Terminal=false
Categories=Graphics;
MimeType=image/bmp;image/gif;image/tiff;image/jpeg;image/png;

