Package: viva
Version: 0.01
Architecture: all
Maintainer: German Gonzalez <german.gonzalez@epfl.ch>
Installed-Size: 232
Depends: libglew1.5, freeglut3, libgsl0ldbl, libgtkglext1, libhighgui1, libcvaux1, libtiff4
Section: math
Priority: optional
Homepage: http://code.google.com/p/neurons/
Description: Volumetric Image Visualization and Analysis. A tool to see 3D / 4D volumes of data and get some statistics out of them.
